/.idea
/src/*
!/src/*.java
!/src/*.g4
/src/*Lexer.java
/src/*Parser.java
/src/*ParserBaseListener.java
/src/*ParserBaseVisitor.java
/src/*ParserListener.java
/src/*ParserVisitor.java
/classes
Lab.iml
submit.sh
.DS_Store
/out
